@charset "UTF-8";

@font-face {
    font-family: 'Nasa';
    src: url('../fonts/nasalization-rg.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

* {
margin: 0px;
padding: 0px;
font-family: "Nasa", Times, serif;
}

body {
    background-image: url("../images/background.jpeg");
    width: 100%;
}

p {
    font-size: 20px;
}

div.box {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2955a18f;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px #101446bf;
}

.user {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.user > p {
    padding: 10px;
}

.password {
    padding: 10px;
    text-align: center;
}

.password > p {
    padding: 10px;
}

input.fromuser {
    width: 200px ;
    height: 25px;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
}
div#enter{
    text-align: center;
}

input#enter {
    width: 90px;
    height: 36px;
    border-radius: 15px;
    margin-top: 30px;
    font-size: 15px;
    color: #1655c1;
}
